# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
POSTGRES_URL="postgres://default:KQtF10fCuGPA@ep-autumn-glade-06098078-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_PRISMA_URL="postgres://default:KQtF10fCuGPA@ep-autumn-glade-06098078-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://default:KQtF10fCuGPA@ep-autumn-glade-06098078.us-east-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_USER="default"
POSTGRES_HOST="ep-autumn-glade-06098078-pooler.us-east-1.postgres.vercel-storage.com"
POSTGRES_PASSWORD="KQtF10fCuGPA"
POSTGRES_DATABASE="verceldb"

# `openssl rand -base64 32`
AUTH_SECRET=aB01lZLRMcaJ4cJaWNBtiB8er5+O8c/fopKcZlyHvn8=
AUTH_URL=http://localhost:3000/api/auth
